.Main {
    padding: 0 0 0 64px;
}

.SeeAllIcon,
.SeeAllContainer {
    color: #B1B1B1;
}

.SeeAllIcon {
    font-size: 24px;
}

.TitleContainer {
    color: #E9E9E9;
}

.TitleContainer h1 {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    margin: 0;
}

.SeeAllContainer {
    display: flex;
    width: max-content;
    align-items: center;
}

.SeeAllContainer p {
    gap: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.SeeAllContainer img {
    width: 24px;
    height: 24px;
}

.TitleContainer {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-right: 64px;
}

.SliderItem {
    margin: 0 !important;
    width: max-content !important;
    margin-right: 32px !important;
}

@media screen and (max-width:1051px) {
    .TitleContainer h1 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
    }

    .SeeAllContainer p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
    }

    .TitleContainer {
        padding-top: 64px;
    }

    .Main {
        padding: 0 0 0 24px;
    }
}

.PaddingSettings {
    padding-right: 36px;
}

@media screen and (max-width:1051px) {
    .PaddingSettings{
        padding-right: 15px !important;
    }
}
.PaddingSettings{
    padding-right: 36px;
}