.TitleContainer h1 {
    font-family: Poppins;
    color: rgba(43, 44, 46, 1);
    margin: 0;
    max-width: 480px;
    font-size: 44px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
}
.MainContainer{
    padding: 0 64px;
}

.SeeAllContainer {
    display: flex;
    width: max-content;
    align-items: center;
}

.SeeAllContainer p {
    gap: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: rgba(43, 44, 46, 1);

}

.SeeAllContainer img {
    width: 24px;
    height: 24px;
}

.CollectionContainer {
    width: 100% !important;
    padding-bottom: 64px;
}

.TitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-top: 100px;
}

.FlexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 34px;
}

@media screen and (max-width:1051px) {
    .TitleContainer h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
    }

    .TitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 64px;
    }
    .SeeAllContainer {
        display: none;
    }

    .FlexContainer {
        display: none;
    }

    .Main {
        display: block !important;
        padding-left: 24px;
    }

    .CollectionContainer {
        margin: 0 12px !important;
    }
    .CollectionContainer {
        padding-bottom: 0 !important;
    }
}

.Main {
    display: none;
}