.Main {
    width: 532px;
    height: max-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.ImageContainer {
    width: 532px;
    height: 431px;
    border-radius: 20px;
}
.ImageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}