.MainContainer{
    height: auto;
    background-color: black;
}

.MainContainerHome{
    width: 100%;
    background-color: #111111;
    transition: all 0.3s ease;
}
.Component{
    margin: auto;
    max-width: 1440px;
}