.Main {
    padding: 71px 50px 140px 62px;
}

.TitleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 28px;
}

.TitleContainer h1 {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    color: rgba(43, 44, 46, 1);
    margin: 0;
}

.SliderItem {
    margin: 0 !important;
    width: max-content !important;
    margin: 0 16px !important;
}

.TestimonialsNavBtn {
    padding: 2.75rem !important;
    font-size: 28px !important;
}

@media screen and (max-width:1200px) {
    .Main {
        padding: 94px 24px 256px 24px;
    }

    .testimonialsWrapper {
        padding-top: 48px !important;
        width: 460px;
    }
}

@media screen and (max-width:512px) {
    .TitleContainer h1 {
        font-size: 24px;
        line-height: 40px;
    }

    .testimonialsWrapper {
        padding-top: 48px !important;
        width: 100%;
    }
}