.Main {
    width: 420px;
    height: 284px;
    border-radius: 16px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.Main img {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.CategoryName {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    font-size: 24px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.Main:hover .CategoryName {
    visibility: visible;
    opacity: 1;
}

.Main:hover {
    visibility: visible;
    opacity: 1;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        linear-gradient(0deg, #DADADA, #DADADA);
    /* Solid gray background */
}

@media screen and (max-width:1051px) {
    .CategoryName{
        display: none;
    }
    .Main {
        width: 266px;
        height: 180px;
        border-radius: 16px;
    }

    .Category {
        display: flex !important;
        position: absolute;
        transform: translate(-50%, 0%);
        bottom: 20%;
        left: 50%;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        top: 117px;
        padding: 17px 36px 17px 36px;
        gap: 10px;
        opacity: 0px;
        background: rgba(170, 142, 110, 0.7);
        width: 100%;
        height: 100%;
    }
}

.Category {
    display: none;

}