.MainWrapper{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #FFF9EE;
}

.ModalHeader {
    text-align: center;
    line-height: 48px;
    font-size: 34px;
}

.SignUpImg{
    object-fit: cover;
    transform: scale(1.5);
    object-position: 0% 75%;
}

.SignUpCheck{
    color: #4D4F51;
}

.regBtn{
    font-size: 1.125rem;
    color: #000D2F;
}

.regBtn a {
    color: #96734D !important;
    text-decoration: underline !important;
}