.MainWrapper {
    position: relative;
    padding-left: 62px;
}

.LeftImage {
    width: 336px;
    height: 143px;
    top: 789px;
    left: 62px;
    border-radius: 12px;
}

.Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.MainContent {
    height: max-content;
    width: 100%;
    display: flex;
    gap: 60px;
    padding-bottom: 71px;
}

.InformationContainer {
    display: flex;
    align-items: center;
}

.InformationContainer h1 {
    margin: 0;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
    color: rgba(150, 115, 77, 1);
}

.InformationContainer p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;

}

.InfoContainer {
    padding: 12px 0 12px 12px;
}

/* .navTab:before, */

.navTab {
    --bs-nav-tabs-border-width: 0;
    position: absolute;
    top: -92px;
}

.navTab li {
    list-style: none outside none;
    float: left;
    position: relative;
}

/* .navTab li:before,
.navTab a:before, */
.navTab li:after,
.navTab a:after {
    content: "";
    position: absolute;
    bottom: 0;

}

/* .navTab li:before, */
.navTab li:after {
    background: #FFF9EE;
    width: 32px;
    height: 32px;
}

.navTab a {
    float: left;
    padding: 10px 40px;
    text-decoration: none;
    color: #96734D;
    background: #FFF9EE;
    border-radius: 32px 32px 0 0;
}

.navTab .active a {
    background: #FFF9EE;
    color: #96734D;
}

/* .navTab a:before, */
.navTab a:after {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: #FFF9EE;
    z-index: 2;
}

/* .navTab .active a:before, */
.navTab .active a:after {
    background: #FFF9EE;
}

/* .navTab a:before {
    left: -20px;
} */

.navTab a:after {
    right: -64px
}

/* .navTab .active:before, */
.navTab .active:after {
    z-index: 1;
    background: #FFF9EE;
}

/* .navTab li:first-child a:before, */
.navTab li:last-child a:after {
    background-color: #fff;
}

.tab-content {
    background: #FFF9EE;
    color: #96734D;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

@media screen and (max-width:1200px) {
    .MainContent {
        flex-direction: column;
        padding-bottom: 0;
        height: max-content;
    }

    .MainWrapper {
        padding: 24px !important;
    }

    .LeftImage {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .InformationContainer h1 {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
    }

    .InformationContainer p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
    }
    .InfoContainer {
        padding: 0  !important;
    }
    .InformationContainer {
        flex-direction: column;
    }
}