.Main {
    padding: 71px 50px 0 62px;
}

.SeeAllIcon{
    font-size: 24px;
}

.SeeAllContainer, .TitleContainer{
    color: rgba(43, 44, 46, 1);
}

.TitleContainer h1 {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    margin: 0;
}

.SeeAllContainer {
    display: flex;
    width: max-content;
    align-items: center;
}

.SeeAllContainer p {
    gap: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.SeeAllContainer img {
    width: 24px;
    height: 24px;
}

.TitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
}

.SliderItem {
    margin: 0 !important;
    width: max-content !important;
    margin: 0 16px !important;
}

@media screen and (max-width:1051px) {
    .TitleContainer h1 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
    }

    .SeeAllContainer p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
    }

    .Main {
        padding: 94px 0 0 24px;
    }
}

.PaddingSecttings {
    padding-right: 25px;
}

@media screen and (max-width:1051px) {
    .PaddingSecttings {
        padding-right: 32px;
    }
}

.SliderWrapper>div {
    gap: 50px !important;
    padding-left: 20px !important;
    width: max-content !important;
}
.SliderPadding{
    padding-right: 28px;
}
