.Container {
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 100px;
    display: flex;
    background: rgba(243, 238, 221, 1);
    width: 162px;
}

.ContainerDark{
    background-color: #4D4F51;
}

.Container span {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: rgba(55, 56, 59, 1);
}

.ContainerDark span {
    color: #F0F0F0;
}

.XIcon {
    filter: brightness(0) contrast(100) invert(100);
}