.CardWrapper {
    overflow: hidden;
    border-radius: 20px;
    border: 0;
}

.CardPill {
    background-color: #595959CC !important;
    backdrop-filter: blur(8px);
    padding: 12px 16px;
    color: #F0F0F0;
    font-weight: 500;
    line-height: 20px;
    margin-top: 28px;
    margin-left: 28px;
}

.CardImg {
    width: 420px;
    height: 540px;
}

.CardTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.CardText {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #F0F0F0;
    margin-bottom: 8px;
}

.CardFooterText {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #E9E9E9;
}

.CardOverlayWrapper {
    background-color: #595959CC;
    backdrop-filter: blur(8px);
    height: 35%;
    top: 65%;
    border-radius: 0;
    padding: 28px 20px;
}

.CardLinkArrowBtnWrapper {
    align-self: start;
}

.CardLinkArrowBtn {
    font-size: 32px;
    width: 72px;
    height: 72px;
    border: 2.5px solid #F0F0F0;
    border-radius: 999px;
    transform: rotate(45deg);
    color: #F0F0F0;
}

@media screen and (max-width:512px) {
    .CardImg {
        width: 380px;
        height: 540px;
    }
}

@media screen and (max-width:768px) {
    .CardImg {
        width: 340px;
        height: 540px;
    }
}