.CardWrapper {
    overflow: hidden;
    border-radius: 20px;
    border: 0;
}

.CardPill {
    background-color: #f5dfbacc !important;
    backdrop-filter: blur(8px);
    padding: 12px 16px;
    color: rgba(1, 0, 17, 1);
    font-weight: 500;
    line-height: 20px;
    margin-top: 28px;
    margin-left: 28px;
}

.CardImg {
    width: 420px;
    height: 540px;
}

.CardTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #2B2C2E;
}

.CardText {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #2B2C2E;
    margin-bottom: 8px;
}

.CardFooterText {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4D4F51;
}

.CardOverlayWrapper {
    background-color: #f5dfbacc;
    backdrop-filter: blur(8px);
    height: 35%;
    top: 65%;
    border-radius: 0;
    padding: 28px 20px;
}

.CardLinkArrowBtnWrapper {
    align-self: start;
}

.CardLinkArrowBtn {
    font-size: 32px;
    width: 72px;
    height: 72px;
    border: 2.5px solid #2B2C2E;
    border-radius: 999px;
    transform: rotate(45deg);
    color: #2B2C2E;
}